.option-container{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 14px;
    color: #8e887e;
    padding: 3px 8px;
    cursor: pointer;
    width: 115px;
    position: relative;
}
.option-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.option-container:hover {
    background: #f5f6f7
}
.option-container:hover .option-list-container{
    display: block;
}
.option-list-container{
    position: absolute;
    top: 100%;
    min-width: 280px;
    z-index: 999;
    left: 0px;
    background: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: none;
    overflow-y: scroll;
}
.option-list{
    height: 300px;
}
.option-item{
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    color: #000;
    align-items: center;
}
.option-item:hover {
    background: var(--main-color);
    color: #fff;
}

.option-item:hover .icon-arrow-right{
    transform: translateX(10px);
}
.option-item:hover .option-item-name {
    transform: translateX(10px);
}