.search-input{
    display: flex;
}

.searchbar{
    background: #fff;
}
.search-btn{
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    width: 101px;
    cursor: pointer;
    margin: 10px;
    border-left: 1px solid #dedede;
    justify-content: center;
}
.search-btn:hover {
    background-color: #ef5350;
}
.reset-btn{
    width:40px;
    height:40px;
    border-radius:50%;
    background: #fff;
    cursor: pointer;
    margin: 10px;
    position: relative;
 }
 .reset-btn:hover {
     background: #ccc;
 }

 .search-input{
    background: #fff;
    position: relative;
    border: 1px solid #dedede;
    display: flex;
}
.input-container{
    width: 50%;
    border-radius: 40px;
    border: 1px solid #dedede;
    margin: 10px;
}
.input-container > input {
    width: 80%;
    padding: 10px;
    outline: none;
    font-size:14px;
    margin-left: 60px;
}
.input-container > span{
    position: absolute;
    top: 15px;
    left: 40px;
    padding-right: 10px;
    border-right: 1px solid #dedede;
    color: #dedede;
}



.reset-tooltip-container {
    position: absolute;
    top: 120%;
    left: -10px;
    display: none;
    z-index: 999;
    transition: all 0.4s ease-in-out;
  }
  .reset-tooltip-content {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    left: 30px;
    transform: translateX(-50%);
    top: 100%;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 3px;
    padding: 8px;
  }
  .reset-top-delta {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 12px;
    height: 8px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .reset-icon:hover + .reset-tooltip-container {
    display: block;
  }
  

  .option-container{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 14px;
    color: #8e887e;
    padding: 3px 8px;
    cursor: pointer;
    width: 115px;
    position: relative;
}
.option-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.option-container:hover {
    background: #f5f6f7
}
.option-container:hover .option-list-container{
    display: block;
}
.option-list-container{
    position: absolute;
    top: 100%;
    min-width: 280px;
    z-index: 999;
    left: 0px;
    background: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: none;
    overflow-y: scroll;
}
.option-list{
    height: 300px;
}
.option-item{
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    color: #000;
    align-items: center;
}
.option-item:hover {
    background: var(--main-color);
    color: #fff;
}

.option-item:hover .icon-arrow-right{
    transform: translateX(10px);
}
.option-item:hover .option-item-name {
    transform: translateX(10px);
}