.search-input{
    background: #fff;
    border-radius: 40px;
}
.search-input-container{
    border: 1px solid #dedede;
    border-radius:40px;
    position: relative;
}
.search-input > input {
    width: 80%;
    padding: 10px;
    outline: none;
    font-size:14px;
    margin-left: 40px;
}
.search-input > span{
    position: absolute;
    top: 8px;
    left: 10px;
    padding-right: 10px;
    border-right: 1px solid #dedede;
}