/* .container {
  display: flex;
  align-items: center;
  padding: 3rem;
} */

.admin-pd-content {
  flex: 1;
  text-align: center;
  background: white;
}
.admin-pd-header {
  margin-bottom: 1rem;
}
.admin-pd-content-detail {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
}
.admin-pd-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
/*CSS cho thẻ tên dự án*/
.admin-pd-information {
  display: flex;
  flex-direction: column;
}
.admin-pd-detail-name {
  display: flex;
  margin-bottom: 20px;
}
.admin-pd-detail-name > p {
  padding-right: 20px;
  width: 200px;
  font-weight: bold;
}

.admin-pd-detail-name > input {
  width: 100%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*CSS cho thẻ chủ đầu tư*/

.admin-pd-detail-owner {
  display: flex;
  margin-bottom: 20px;
}
.admin-pd-detail-owner > p {
  padding-right: 20px;
  width: 200px;
  font-weight: bold;
}

.admin-pd-detail-owner > input {
  width: 100%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*CSS cho thẻ địa chỉ*/

.admin-pd-detail-address {
  display: flex;
  margin-bottom: 20px;
}
.admin-pd-detail-address > p {
  padding-right: 20px;
  width: 200px;
  font-weight: bold;
}

.admin-pd-detail-address > input {
  width: 100%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.admin-pd-moreinfo {
  padding: 2rem;
}

.description {
  margin-bottom: 2rem;
  font-weight: bold;
}

.action {
  display: flex;
  margin: 3rem;
  justify-content: flex-end;
}
.btn--save-pd,
.btn--delete-pd {
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 2rem;
}
.btn--save-pd {
  background-color: rgba(17, 231, 17, 0.479);
  display: flex;
}
.btn--save-pd > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--save-pd:hover {
  background-color: rgba(17, 231, 17, 0.685);

  cursor: pointer;
}
.btn--delete-pd {
  background-color: rgba(255, 0, 0, 0.623);
}
.btn--delete-pd > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--delete-pd:hover {
  background-color: rgba(255, 0, 0, 0.712);
  cursor: pointer;
}
