/*CSS cho banner search*/

/*CSS cho 2 tab nhà đất*/

.search-tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
/*CSS cho list tab nhà đất*/
.search-tab li {
  display: inline-block;
}
/*CSS cho form Search(Không bao gồm 2 tab*/
.search-form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
}
/*CSS cho tab buying*/
.search-tab-buying {
  background: #a18474;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 5px;
}
/*CSS tab rent*/
.search-tab-rent {
  background: #a18474;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 5px;
}
/*CSS cho nguyen thanh tìm kiếm*/
.searching-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  background: #fff;
  color: #3f3424;
}
/*CSS cho box loại bất động sản*/
.option-box {
  line-height: inherit;
  padding: 0 15px;
  overflow: hidden;
  float: left;
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  vertical-align: middle;
}
/*CSS cho thanh input*/
.search-input {
  flex: 1;
  line-height: inherit;
  height: inherit;
  padding: 0 15px;
  position: relative;
}
/*CSS cho nút tìm kím trong thanh seacrh*/
.button-search {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 15px;
  border: none;
  line-height: inherit;
  color: #fff;
  background: #a18474;
  cursor: pointer;
}

/*CSS cho nút các nút tùy chọn*/
.searching-option {
  display: flex;

  flex-wrap: nowrap;
  flex-flow: row nowrap;
}
.option-nationwade {
  display: flex;
  align-items: center;
  line-height: inherit;
  height: 40px;
  padding: 0 15px;
  position: relative;
  border: 1 px solid #878988;
  border-radius: 100;
  flex: 0 0 164 px;
  cursor: pointer;
}
.option-price {
  display: flex;
  align-items: center;
  line-height: inherit;
  height: 40px;
  padding: 0 15px;
  position: relative;
  border: 1 px solid #878988;
  flex: 0 0 164 px;
  cursor: pointer;
}
.option-area {
  display: flex;
  align-items: center;
  line-height: inherit;
  height: 40px;
  padding: 0 15px;
  position: relative;
  border: 1 px solid #878988;
  flex: 0 0 164 px;
  cursor: pointer;
}

.option-project {
  display: flex;
  align-items: center;
  line-height: inherit;
  height: 40px;
  padding: 0 15px;
  position: relative;
  border: 1 px solid #878988;
  flex: 0 0 164 px;
  cursor: pointer;
}
.option-filter {
  display: flex;
  align-items: center;
  line-height: inherit;
  height: 40px;
  padding: 0 15px;
  position: relative;
  border: 1 px solid #878988;
  flex: 0 0 164 px;
  cursor: pointer;
}
