/* .container {
  display: flex;
  align-items: center;
  padding: 3rem;
} */

.admin-usd-content {
  flex: 1;
  text-align: center;
  background: white;
}
.admin-usd-header {
  margin-bottom: 1rem;
}
.admin-usd-content-detail {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
}
.admin-usd-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
/*CSS cho thẻ tên */
.admin-usd-information {
  display: flex;
  flex-direction: column;
}
.admin-usd-detail-name {
  display: flex;
  margin-bottom: 20px;
}
.admin-usd-detail-name > p {
  padding-right: 20px;
  width: 200px;
  font-weight: bold;
}

.admin-usd-detail-name > input {
  width: 100%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*CSS cho thẻ email*/

.admin-usd-detail-email {
  display: flex;
  margin-bottom: 20px;
}
.admin-usd-detail-email > p {
  padding-right: 20px;
  width: 200px;
  font-weight: bold;
}

.admin-usd-detail-email > input {
  width: 100%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*CSS cho thẻ địa chỉ*/

.admin-usd-detail-address {
  display: flex;
  margin-bottom: 20px;
}
.admin-usd-detail-address > p {
  padding-right: 20px;
  width: 200px;
  font-weight: bold;
}

.admin-usd-detail-address > input {
  width: 100%;
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.admin-usd-moreinfo {
  padding: 2rem;
}

.description {
  margin-bottom: 2rem;
  font-weight: bold;
}

.re-description {
  margin-top: 2rem;
  font-weight: bold;
}

.re-description > li {
  padding: 20px;
  font-weight: normal;
}

.action {
  display: flex;
  margin: 3rem;
  justify-content: flex-end;
}
.btn--refuse-usd,
.btn--accept-usd,
.btn--delete-usd {
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 2rem;
}
.btn--accept-usd {
  background-color: rgba(17, 231, 17, 0.479);
}
.btn--accept-usd > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--accept-usd:hover {
  background-color: rgba(17, 231, 17, 0.685);

  cursor: pointer;
}

.btn--delete-usd {
  background-color: rgba(255, 0, 0, 0.623);
}
.btn--delete-usd:hover {
  background-color: rgba(255, 0, 0, 0.712);
  cursor: pointer;
}
.btn--delete-usd > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
