
.search-list-container{
    width: 70%;
    margin: auto;
    display: flex;
    padding: 20px 5px;
}
.main-content{
    margin-right: 20px;
    width: 70%;
}
.search-title{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}
.search-list-filter-container{
    width: 30%;
}
.body{
    background: #f4f2f0;
}