.sort-control{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.filter-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #dedede;
    background-color: #fff;
    width: 160px;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    
  }
  .sorted-list {
    width: 160px;
    position: absolute;
    left: -1px;
    top: 100%;
    background-color: #fff;
    display: none;
    
  }
  .sorted-item {
    border: 1px solid #dedede;
    padding: 10px;
    cursor: pointer;
  }

  .filter-header:hover .sorted-list {
    display: block;
  }
  .sorted-item:hover {
    background: #dedede;
  }
  