.carousel-root{
    padding: 24px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 24px;
}
.slider-wrapper{
    border-radius: 10px;
    height: 443px !important;
}
.thumbs-wrapper{
    margin: 24px 0 0 0 !important;
}
.thumb{
    width: 179px !important;
    height: 100px;
    border-radius: 10px;
    margin-right: 12px !important; 
    padding: 0 !important;
}
.thumb > img{
    border-radius: 10px;
}
.carousel-status{
    display: none;
}
.control-dots{
    display: none;
}
.control-prev{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.control-next{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.slide > div > img{
    width: 878px;
    height: 450px;
    object-fit: cover;
}