.register-container{
    background-image: url("")
}

.register-center{
    width: 1200px;
    margin:5rem auto;
    height: 700px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
  
}

.register-col1{
    width: 50%;
    float: left;
    display: block;
    height: 700px;
    background: rgba(207,162,103,1);
}
.register-col2{
    width: 50%;
    float: left;
}
.register-col2-info{
    padding: 50px;
}
.register-col1-info{
    padding: 50px;
    color: #fff;
  
}
.register-col1-title{
   
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.register-col1-content{
 
}
.register-col2-title{
    color: rgba(207,162,103,1);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
#name,#lastname,#pw,#confirm-pw{
    border: 1px solid #ccc;
    width: 240px;
    padding: 15px 10px;
    outline: none;
}
#email{
    border: 1px solid #ccc;
    width: 100%;
    padding: 15px 10px;
    outline: none;
}
.name-input,.fullname-input,.pw-input,.confirm-pw-input{
    width: 50%;
}
.name-input,.pw-input{
    margin-right: 20px;
}
label,input{
    display: block;
}
.name-input>label,.fullname-input>label,.pw-input>label,.confirm-pw-input>label,.email-input>label{
    margin-bottom: 10px;
}
.full-name-container,.pw-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.email-container{
    margin-bottom:30px;
}
.register-agree{
    display: flex;
    align-items: center;
}
.register-agree > input{
    margin-right: 10px;
}
.register-agree > span{
    text-decoration: underline;
    color: rgba(207,162,103,1);
    margin-left: 5px;
}
.register-button{
    color: #fff;
    background: rgba(207,162,103,1);
    padding: 20px 50px;
    border-radius :5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    width: 168px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-button:hover {
    background: rgba(207,162,103,.8)
}

#firstName,#lastName,#password,#confirmPassword{
    border: 1px solid #ccc;
    width: 100%;
    padding: 15px 10px;
    outline: none;
}


.have-account{
    margin-top: 50px;
    text-align: center;
}
.have-account > a{
    color: rgba(207,162,103,1) !important;
    font-weight: 600;
    border-bottom: 1px solid rgba(207,162,103,1);
}